

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    width: 1200px;
    margin:auto;
    line-height: 1.5em;
}

hr{
    border-top: 8px solid grey;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    background-color:hsl(357, 86%, 52%);
    padding: 24px 24px;
}

header::before{
    content: url(assets/eye3.png);
    position: fixed;
    opacity: .25;
    bottom: 750px;
    right: auto;
    z-index: -1;
    width: 100px;
    height: 100px;
}

h1{
    font-size: 36px;
    font-weight: bold;
}


header div{
    display: flex;
}

header ul{
    display: flex;
}

header p{
    margin-right: 16px;
}

header li + li{
    margin-left: 16px;
}

header a{
    color: white;
    text-decoration: none;
}

header li + li::before{
    content: " | ";
    margin-right: 8px;
}

header a:hover{
    color: black;
}

main {
    margin-top: 24px;
    padding: 24px 24px;
}

p span{
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 12px;

}

.summary {
    display: flex;
    background-color: white;
}

.summary div {
    margin-left: 36px;
}

.summary p, .summary q, .summary blockquote {
    margin-bottom: 42px;
    display: block;
}

.summary q:nth-of-type(1) {
    transform: rotate(2deg);
    text-align: end;
}

.summary q:nth-of-type(2) {
    transform: rotate(-2deg);
    padding-top: 10px;
}

.summary blockquote {
    transform: rotate(-2deg);
}

hr{
    size: 8px;
    color: hsl(0, 0%, 93%);
}

article img {
    width: 50%;
}

article > div {
    display: flex;
}

.bio img {
    width: 100%;
}

h3{
    font-size: 24px;
    margin: 16px;

}
.review{
    display: flex;
    margin: 16px;
}

.review blockquote{
    padding: 16px;
}

.bio {
    position: relative;
}

article p{
    position: absolute;
    right: 66px;
    top: 60px;
    width: 75%
}

footer{
    display: block;
    background-color: grey;
    color: white;
    padding: 32px;
    text-align: center;
}